.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #010101;
}

button {
  margin: 0 80px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #cfd2d2;
  border-radius: 4px;
  background-color: #f9f5f5;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0f3cf0;
}
